<section id="slider_rooms">
  <div class="content-section-b">
    <div class="g-container">
      <div class="clearfix"></div>
      <h2>Welcome to Your New Home</h2>
      <div id="gallery" style="display:none;">

          <img  alt="image 1"
                src="/img/rooms/preview/room101.jpg"
                data-image="/img/rooms/room101.jpg"
				        data-description="Image 1 Description"
          >
          <img  alt="image 2"
                src="/img/rooms/preview/room102.jpg"
                data-image="/img/rooms/room102.jpg"
				        data-description="Image 2 Description"
          >

      </div>
    </div>
  </div>

</section>
