<section id="slider_rooms">
  <div class="content-section-b">
    <div class="g-container">
      <div class="clearfix"></div>
      <!-- <h2>Welcome to Your New Home</h2> -->
      <div id="gallery" style="display:none;">

          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 1.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 1.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 2.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 2.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 3.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 3.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 4.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 4.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 5.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 5.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 6.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 6.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 7.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 7.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 8.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 8.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 9.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 9.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 10.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 10.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 11.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 11.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 12.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 12.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 13.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 13.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 14.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 14.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 15.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 15.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 16.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 16.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 17.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 17.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/Wynn Plaza 2BR 41sqm 18.jpg"
                data-image="/img/rooms/Wynn Plaza 2BR 41sqm 18.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >

      </div>
    </div>
  </div>

</section>
