<section id="slider_rooms">
  <div class="content-section-b">
    <div class="g-container">
      <div class="clearfix"></div>
      <!-- <h2>Welcome to Your New Home</h2> -->
      <div id="gallery" style="display:none;">

          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery0.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery0.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery1.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery1.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery2.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery2.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
        
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery4.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery4.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery5.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery5.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery6.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery6.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery7.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery7.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery8.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery8.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery9.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery9.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery10.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery10.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery11.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery11.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery12.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery12.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery13.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery13.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery14.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery14.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery15.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery15.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >
          <img  alt="Wynn Plaza 2BR 41sqm"
                src="/img/rooms/WynnPlazaCondominium-2br-gallery16.jpg"
                data-image="/img/rooms/WynnPlazaCondominium-2br-gallery16.jpg"
				        data-description="Wynn Plaza 2BR 41sqm"
          >

      </div>
    </div>
  </div>

</section>
