<section id="vr_rooms">
  <div class="content-section-b">
    <div class="container">
      <div class="clearfix"></div>
      <h2>Take a Virtual Tour of Our Rooms</h2>
      <a href="Two-BR.html" target="_blank">
        <img class="img-gallery vr-gallery" src="/img/vr-rooms/pic-vr-01.jpg" alt="Tour our Two Bedroom Apartment" >
      </a>
      <a href="Three-BR.html" target="_blank">
        <img class="img-gallery vr-gallery" src="/img/vr-rooms/pic-vr-02.jpg" alt="Tour our Three Bedroom Apartment" >
      </a>
      <a href="Studio-RM.html" target="_blank">
        <img class="img-gallery vr-gallery" src="/img/vr-rooms/pic-vr-03.jpg" alt="Tour our Studio Apartment" >
      </a>
    </div>
  </div>
</section>
